- # encoding: UTF-8
!!! 5
%html(lang="hr")
  %head
    %title California - <!-- $pageTitle -->

    %meta(charset="UTF-8")
    %meta(name="keywords" content="California, california trade, california trade split, glass, staklo, boce, ukrasne boce, boce za vino, boce za ulje, wine bottle, oil bottle, Split, TTTS, Vetropack, bumbar, staklo split, staklo dalmacija, staklo zagreb, staklo dubrovnik, staklo cijenik, staklena ambalaža split, staklena ambalaža za maslinovo ulje, staklena ambalaža bumbar, staklena ambalaža zagreb, staklena ambalaža split, staklena ambalaža za maslinovo ulje, staklena ambalaža bumbar, staklena ambalaža zagreb, staklena ambalaža prodaja, staklena ambalaža boce, staklena ambalaža cijena, ekskluzivna staklena ambalaza, staklena ambalaza flase za rakiju, flasa staklena ambalaza, flase za rakiju staklene, flaše za rakiju, mala staklena ambalaza, mini staklena ambalaza, najjeftinija staklena ambalaza, staklena ambalaza online, staklena ambalaza tegle, staklena ambalaža vetropack, boce za vino, boce za vodu, boce za maslinovo ulje, boce za rakiju, boce cijena, čaše boce, čepovi boce")
    %meta(name="description" content="California trade d.o.o. je tvrtka specijalizirana za veleprodaju i maloprodaju staklene ambalaže. Osnovana je 1995. godine i danas je generalni distributer za srednju i južnu Dalmaciju programa tvrtke Vetropack.")
    %meta(name="author" content="horvaticluka@gmail.com")
    %meta(id="meta" name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0")

    %meta(property="og:image" content="http://california-trade.hr/img/about/about@2x.jpg")/
    %meta(property="og:title" content="California Trade - stakleni proizvodi sa največom kvalitetom")/
    %meta(property="og:type" content="website")/
    %meta(property="og:site_name" content="California Trade - tvrtka specijalizirana za veleprodaju i maloprodaju staklene ambalaže")/
    %meta(property="og:discription" content="California trade d.o.o. je tvrtka specijalizirana za veleprodaju i maloprodaju staklene ambalaže. Osnovana je 1995. godine i danas je generalni distributer za srednju i južnu Dalmaciju programa tvrtke Vetropack.")/
    %meta(property="og:url" content="http://california-trade.hr/")/

    %link(rel="stylesheet" href="css/main.css")
    %link(rel="stylesheet" href="css/query.css")
    / Lightbox
    %link(rel="stylesheet" href="src/lightbox/css/lightbox-min.css")
    / Fonts
    %link(href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Open+Sans|Raleway:400,500,900&subset=latin-ext" rel="stylesheet")/
