- # encoding: UTF-8
!!! 5
%html(lang="hr")
  %head
    %title California - <!-- $pageTitle -->

    %meta(charset="UTF-8")
    %meta(name="keywords" content="California, glass, staklo, boce, ukrasne boce, boce za vino, boce za ulje, wine bottle, oil bottle, Split, TTTS, Vetropack")
    %meta(name="description" content="")
    %meta(name="author" content="horvaticluka@gmail.com")
    %meta(id="meta" name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0")

    %link(rel="stylesheet" href="css/main.css")
    %link(rel="stylesheet" href="css/query.css")
    / Lightbox
    %link(rel="stylesheet" href="src/lightbox/css/lightbox-min.css")
    / Fonts
    %link(href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Open+Sans|Raleway:400,500,900&subset=latin-ext" rel="stylesheet")/
