/ $pageTitle = Kontakt
/ @include _head

%body

  / HEADER SECTION **************************************
  / $navLink5 = active
  / @include _header


  / ARTICLE NAV SECTION **************************************
  / @include _articleNav


  / CONTENT - CONTACT SECTION **************************************
  #content.contact.section
    .container-jumbo


      / Contact
      .section-row
        .container
          .title-block.title-block--left(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
            %h1.title Kontakt

          .contacts-wrap
            .contacts-col(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")

              .contacts-box
                .contacts-box__title
                  ADRESA
                .redline
                .contacts-box__text
                  California Trade d.o.o.
                  %br/
                  TTTS, 4. Gardijska brigade 30
                  %br/
                  21000 Split
                  %br/
                  Hrvatska

              .contacts-box
                .contacts-box__title
                  TELEFON/FAX
                .redline
                .contacts-box__text
                  TEL    021 32 66 53
                  %br/
                  FAX   021 32 63 72

              .contacts-box
                .contacts-box__title
                  MOBITEL
                .redline
                .contacts-box__text
                  098 311 604
                  099 213 2047

              .contacts-box
                .contacts-box__title
                  EMAIL
                .redline
                .contacts-box__text
                  %a(href="mailto:california-trade@st.t-com.hr") california-trade@st.t-com.hr



            .contacts-col(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")

              .contacts-box
                .contacts-box__title
                  RADNO VRIJEME
                .redline
                .contacts-box__text
                  %span PONEDJELJAK - PETAK
                  %br/
                  07:00 - 15:00
                  %br/
                  %br/
                  SUBOTA
                  %br/
                  Ne radimo
                  %br/
                  %br/
                  NEDJELJA
                  %br/
                  Ne radimo

              .contacts-box
                .contacts-box__title
                  MATIČNI PODATCI
                .redline
                .contacts-box__text
                  OIB : 35872509566
                  %br/
                  Erste Bank IBAN: HR66 2402 0061 1009 1712 1
                  %br/
                  OTP Bank IBAN: HR29 2407 0001 1005 5959 1
                  %br/
                  Addiko Bank IBAN: HR27 2500 0091 1014 7812 7
                  %br/
                  SWIFT - ZABA HR 2X







  / MAP SECTION **************************************
  #google-map.section
    :javascript
      function initMap() {
        var uluru = {lat: 43.516409, lng: 16.533290};
        var map = new google.maps.Map(document.getElementById('google-map'), {
          zoom: 18,
          scrollwheel: false,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false,
          draggable: true,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    %script(async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXlQeBAAEd0J0DwpJy0-Z1vP8lZr0DTeM&callback=initMap")






  / FOOOTER SECTION **************************************
  / @include _footer