/ $pageTitle = Naslovnica
/ @include _head
%body

  / HEADER SECTION **************************************
  / $navLink1 = active
  / @include _header


  / HERO SECTION **************************************
  #hero.section
    %h1.hero-title(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
      We offer <span>the best</span> glass products
      %br/
      with highest <span>quality</span>

    %ul.cb-slideshow
      %li
        %span
      %li
        %span
      %li
        %span
      %li
        %span
      %li
        %span
      %li
        %span




  / ARTICLE NAV SECTION **************************************
  / @include _articleNav




  / CONTENT SECTION **************************************
  #content.section
    .container-jumbo
      / Vino
      .section-row.vino
        .container
          .title-block.title-block--center(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
            %h1.title Boce za <span>Vino</span>
          %p(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once") U našem asortimanu boca za vino možemo ponuditi boce različitih zapremina, boja stakla i oblika koji mogu zadovoljiti izborom svakog vinara ili ljubitelja vina. Zapremine boca su 1000 ml i 750 ml, a boje su zelena, bijela, olive i cuvee.

      / Staklo 1
      .section-row.glass.glass--left(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .glass__img.img-vino
        .glass__box
          Staklo je visokovrijedan i plemeniti ambalažni materijal. Ono istovremeno čuva i štiti sadržaj. Nepropusno je, pa tvari arome i okusa ne mogu ući i izaći iz stakla. Namirnice upakirane u staklu ostaju apsolutno nepromijenjene, prirodne i svježe. 

      / Ulje
      .section-row.ulje(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--left
            .group__content
              .title-block.title-block--left
                %h1.title Boce za <span>ulje</span>
              %p Kao i kod boca za vino maslinari zasigurno imaju dobar izbor boca u koja mogu pohraniti svoja kvalitetna maslinova ulja. Kako se ulje najbolje čuva u staklu, tako je i izbor boca za ulje primjeren potrebama čuvanja i pakiranja maslinovog ulja. Zapremine boca su od 250 ml do 1000 ml, a boje stakla olive i cuvee.
            .group__image.img-ulje

      / Zestoko pice
      .section-row.zestoko(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--right
            .group__content
              .title-block.title-block--right
                %h1.title.title--right Boce za žestoka <span>pića</span>
              %p Bilo da se radi o prošeku, travarici, orahovici, lozovači, konjaku ili vinjaku, imamo adekvatne boce za flaširanje vaših proizvoda. Boja stakla je bijela i dvije su osnovne veličine; 500 ml i 1000 ml. Ukoliko želite nekakav drugi oblik i zapreminu, pogledajte naše ukrasne boce.
            .group__image.img-zestoko

      / Ukrasne boce
      .section-row.ukrasne(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .title-block.title-block--center
            %h1.title Boce <span>Ukrasne</span>
          %p Uistinu velik izbor ukrasnih boca ima svoju primjenu kod pohranjivanja vina, ulja ili bilo kojeg drugog pića. Ukrasne boce iz našeg asortimana zadovoljit će najprobirljivije svojim oblicima, dekoracijama. Daljnjim izborom čepova, PVC kapica raznih boja, dodavanja ukusno oblikovanih etiketa i kartonskih kutija za pakiranje boca možete stvoriti vrhunsko pripremljen prizvod za prodaju ili poklon.

      / Staklo 2
      .section-row.glass.glass--right(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .glass__img.img-ukrasne
        .glass__box
          Za razliku od drugih ambalažnih materijala, staklo je moguće u potpunosti reciklirati i ponovno ga upotrijebiti bezbroj puta, uz nepromijenjenu kvalitetu.

      / Staklenke
      .section-row.staklenke(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--right
            .group__content
              .title-block.title-block--right
                %h1.title Staklenke
              %p Pokazalo se kako se i hrana najbolje čuva u staklu, pogotovo ako se radi o proizvodima namjenjenim čuvanju na duže ili kraće vrijeme. Ukiseljeno povrće, namazi, marmelade, džemovi, prirodno konzervirana riba i još mnoštvo drugih receptura naći će svoj put do stola preko naših staklenki. Staklenke su standarnog i jednostavnog oblika, od bijelog su stakla, a zapremine 210 ml, 370 ml i 720 ml.
            .group__image.img-staklenke

      / Cepovi
      .section-row.cepovi(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--left
            .group__content
              .title-block.title-block--left
                %h1.title Čepovi
              %p Svaka boca neophodno treba i svoj čep da bi se sadržaj boce sačuvao. Osim zaštitnog čep ima i dekorativnu ulogu, tako da bez obzira da li se radi o čepu od prirodnog pluta ili silikona, odaberite onaj koji će i vizualno istaknuti vaš proizvod, te svojim materijalom prikladno čuvati sadržaj boce.
            .group__image.img-cepovi

      / Poklopci
      .section-row.poklopci(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--right
            .group__content
              .title-block.title-block--right
                %h1.title Poklopci
              %p Pokopci za staklenke proizvode se u standardnim dimenzijama koje odgovaraju standardima staklenki. Njihova uloga je da dobro prijanjaju otvoru staklenke i ne dopuštaju prodiranje zraka do sadržaja staklenke. U našoj ponudi su metalni i plastični poklopci. Vi ćete se, naravno, pobrinuti za sadržaj staklenke.
            .group__image.img-poklopci

      / PVC kapice
      .section-row.pvc(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--left
            .group__content
              .title-block.title-block--left
                %h1.title PVC <span>kapice</span>
              %p PVC kapice se proizvode i prodaju u različitim bojama, a mogu biti i posebno izrađene prema zahtjevu kupca. Kapica ima i zaštitnu i dekorativnu ulogu. Svakako pravi način da se vaš flaširani proizvod kompletira i istakne njegova kvaliteta.
            .group__image.img-pvc

      / Kartonska ambalaza
      .section-row.ambalaza(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
        .container
          .group.group--right
            .group__content
              .title-block.title-block--right
                %h1.title Kartonska <span>ambalaža</span>
              %p Bilo da se radi o proizvodima za prodaju ili poslovne poklone vaše boce zaslužuju adekvatnu kartonsku ambalažu koja će imati i vizualnu i zaštitnu ulogu. Možete odabrati ambalažu prema broju boca i prema njihovom obliku.
            .group__image.img-karton





  / VETROPACK SECTION **************************************
  #vetropack.section
    .container
      %h1.title Vetropack
      %span.redline
      %p Vetropack Straža d.d. proizvodi, prodaje i distribuira staklenu ambalažu na tržištima Hrvatske, Slovenije, Bosne i Hercegovine, Srbije, Crne Gore, Makedonije, kao i na tržištima ostalih zemalja jugoistočne Europe. Tvornica se nalazi u Humu na Sutli.
      %a.btn.btn--white(href="http://www.vetropack.hr/hr/" target="_blank") Vetropack.hr



  / FOOOTER SECTION **************************************
  / @include _footer