/ $pageTitle = Partneri
/ @include _head

%body

  / HEADER SECTION **************************************
  / $navLink4 = active
  / @include _header


  / ARTICLE NAV SECTION **************************************
  / @include _articleNav


  / CONTENT - PARTNERS SECTION **************************************
  #content.partners.section
    .container-jumbo


      / Partners
      .section-row
        .container
          .title-block.title-block--left(data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
            %h1.title Partneri

          .partners-list

            %a.partners-item(href="https://www.vetropack.hr/hr/" target="_blank" data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
              .partners-item__img
                %img(src="img/vetropack.svg" alt="Vetropack")
              .redline
              .partners-item__title Vetropack

            %a.partners-item(href="http://pcela.hr/u-dalmaciji-dogovorena-nova-prodajna-mjesta-nacionalne-staklenke-za-med/" target="_blank" data-scroll="toggle(.fromBottomIn, .fromBottomOut), centerHorizontal, centerVertical, once")
              .partners-item__img
                %img(src="img/partners/hps.png" alt="Hrvatski Pčelarski Savez" style="max-width: 100px")
              .redline
              .partners-item__title Hrvatski Pčelarski Savez









  / FOOOTER SECTION **************************************
  / @include _footer