/* BUTTON.STYL ======================================= */

/* Button 1 ========================== */
.btn
	margin: 30px auto 0 auto
	padding: 15px 30px
	border: 2px solid colorWhite
	border-radius(5px)
	background: color0
	font-family: font2
	font-size: 14px
	font-weight: 900
	text-transform: uppercase
	color: colorWhite
	transition(.7s)

	&:hover
		background: colorWhite
		color: colorRed


