/* MAIN.STYL ======================================= */

/* import base styl */
@import 'base/normalize'
@import 'base/colorPalete'
@import 'base/mixins'
/* @import 'base/variables' */
@import 'base/typography'
@import 'base/global'

/* import elements styl */
@import 'elements/input'
@import 'elements/button'
@import 'elements/checkbox'

/* import elements styl */
@import 'groups/main-nav'
@import 'groups/forms'

/* import sections styl */
@import 'sections/header'
@import 'sections/footer'
@import 'sections/hero'
@import 'sections/article-nav'
@import 'sections/content'
@import 'sections/vetropack'
@import 'sections/articles'
@import 'sections/articles-info'
@import 'sections/map'
@import 'sections/company-info'
@import 'sections/gallery'
@import 'sections/partners'
@import 'sections/contact'


/* import views styl */
@import 'views/index'
@import 'views/about'
@import 'views/contact'









