/* VARIABLES.STYL ======================================= */

/* FONT FAMILY */
font1 = 'Open Sans', sans-serif
font2 = 'Montserrat', sans-serif
font3 = 'Raleway', sans-serif


/* H1 - H6 HEADINGS ========================== */
h1
	font-family: font2
	font-size: 32px
	font-weight: 900
	color: colorGray1
	text-transform: uppercase

	& span
		color: colorRed

	& span.small
		font-size: 20px
		font-weight: 500
		margin-left: 10px

	&.title--center
		text-align: center
	&.title--left
		text-align: left
	&.title--right
		text-align: right


	&:after
		position: absolute
		content: ''
		display: block
		width: 50px
		height: 2px
		background: colorRed
		margin: 10px 0 0 -5px


h1.hero-title
	color: colorWhite
	font-size: 48px
	font-weight: 700

	& span
		color: colorRed

	&:after
		display: none


h3,
h4
	font-family: font2
	margin: 0
	padding: 0

h3
	font-size: 20px
	color: colorGray4
	font-weight: 500
	padding-bottom: 20px
	text-transform: uppercase

	&:after
		position: absolute
		content: ''
		display: block
		width: 50px
		height: 2px
		background: colorRed
		margin: 10px 0 0 -5px

h4
	font-size: 14px
	color: colorWhite
	font-weight: 100
	opacity: .5



.text-red
	color: colorRed





/* FONT SIZES ======================================= */
fontSize1 = 21px
fontSize2 = 18px

fontH1 = 56px
fontH3 = 21px

fontJumbo = 64px
fontTextbox = 38px
fontTextboxSmall = 21px
fontNumber = 21px

fontButton = 18px

fontGraySmall = 15px

fontInput = 21px





