/* COMPANY-INFO.STYL ======================================= */



#company-info.section

    .section-row
        background: colorRed09

        .container
            flexbox()
            flex-center()
            margin-top: 0
            padding: 30px

            p
                color: colorWhite
                margin-top: 0
                font-family: font2
                font-size: 14px
                font-weight: 500
                line-height: 1.5