/* GALLERY.STYL ======================================= */

#gallery.section
    margin-top: 60px

    .gallery
        flexbox()
        flex-flow: row wrap
        align-items: flex-start
        justify-content: space-around
        padding: 30px 0

        .gallery-item
            display: block
            max-width: 320px
            max-height: 200px
            height auto
            overflow: hidden
            position: relative
            margin-right: 16px
            margin-bottom: 16px
            box-shadow(0 0 10px rgba(0,0,0,0.3))

            &:nth-child(4n)
                margin-right: 0


            &:hover
                transform-scale(1.02)
                box-shadow(0 0 10px rgba(0,0,0,0.5))

                .gallery__img
                    img
                        filter: grayscale(0)


            .gallery__img
                max-width: 320px
                height: auto

                img
                    filter: grayscale(100%)
                    transition(.3s)

            .gallery__label
                position: absolute
                bottom: 30px
                right: 30px
                color: colorWhite
                font-family: font3
                font-size: 18px
                font-weight: 900
                text-shadow: 0 0 5px colorBlack06