/* PARTNERS.STYL ======================================= */

#content.partners

    .partners-list
        flexbox()
        flex-flow: row wrap
        align-items: flex-start
        margin-top: 50px

        /* Article */
        .partners-item
            position: relative
            width: 150px
            min-height: 260px
            flexbox()
            flex-flow: column nowrap
            align-items: center
            margin-right: 52px
            margin-bottom: 40px
            font-family: font3
            color: colorGray4

            /* Overlay on hover */
            &:hover .partners-item__img
                transform-scale(1.05)

            /* Gap between items */
            &:nth-child(5n)
                margin-right: 0

            .partners-item__img
                text-align: center
                width: 150px
                height: 150px
                border-radius: 100%
                box-sizing()
                padding: 20px
                transition(.3s)

            .partners-item__title
                font-size: 18px
                font-weight: 900
                margin-top: 14px
                text-align: center

            .redline
                margin: 14px 0