/* VETROPACK.STYL ======================================= */

#vetropack
    background: url(../img/sections/vetropack1.jpg) center no-repeat
    background-size: cover

    .container
        flexbox()
        flex-center()
        flex-flow: column nowrap
        height: 400px

    .redline
        margin-bottom: 30px

    .title
        color: colorWhite

    .title:after
        display: none

    p
        font-family: font3
        font-size: 16px
        color: colorWhite
        line-height: 20px

